$light-pink: #F7E3EB;
$pink-pink: #E80073;
$not-black: #232323;
$white: #FFFFFF;

@mixin flex_disp{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin boxing( $val: none !important ){
	box-shadow: $val;
	-moz-box-shadow: $val;
	-webkit-box-shadow: $val;
	outline: $val;
}

@mixin transition($time, $time_fun, $which:all){
  transition: $time $time_fun $which;
  -webkit-transition: $time $time_fun $which;
  -moz-transition: $time $time_fun $which;
  -o-transition: $time $time_fun $which;
}

@import url('https://fonts.googleapis.com/css?family=Heebo:400,900');

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	// height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	color: $not-black;
}

body{
	background-color: $white;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23232323' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}


/////////////////////////////////////////////////////
/* Recovering from Reset */
head{ display: none }
h1 { font-size: 2.5em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3, p.instructions { font-size: 1.17em; margin: .83em 0 }
h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu, textarea, input { margin: 1.12em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4, h5, h6, b, strong{font-weight: bolder}
button, textarea, input, select   { display: inline-block }
ol, ul, dir, menu, dd { margin-left: 40px }
ol { list-style-type: decimal }
ol ul, ul ol, ul ul, ol ol { margin-top: 0; margin-bottom: 0 }
br:before { content: "\A"; white-space: pre-line }

.clearfix:after{
	content: '';
	clear: both;
	display: table;
}

.center{
	text-align: center;
}

/////////////////////////////////////////////////////
/* Header Area & Form */
header{
	@include flex_disp ;
	justify-content: space-around;
	background: $white;
	border-bottom: 6px solid $not-black;

	& > div{
		padding: 1em;
	}

	.welcome{
		max-width: 518px;
	}
	.add-joke-form{
		flex-basis: 30%;
		flex-grow: 1;
		min-width: 300px;
	}

	.form-group{
		position: relative;
		padding: .2em;
		width: 100%;
	}

	label{
		display: block;
		position: absolute;
		transform: scale(0.8);
		transform-origin: left top;
		top: -1em;
		left: 0;
		right: 0;
		padding: .5em 0;
	}

	input{
		@include boxing;
		width: 100%;
		border: 0;
		box-shadow: 0;
		background: transparent;;
		border: none;
		border-bottom: 3px solid $not-black;

		&:focus{
			border-bottom-color: $pink-pink;
		}

		&:placeholder, 
		&:-webkit-input-placeholder, 
		&:-moz-placeholder,
		&:-ms-input-placeholder{
			color: $pink-pink;
		}
	}

	button{
		padding: .5em 1em;
		background: $not-black;
		border: 2px solid $not-black;
		color: $white;
		font-weight: bold;
		font-family: 'Heebo', Helvetica, Arial, sans-serif;
		@include transition(.5s, ease-out);
		&:hover{
			color: $pink-pink;
			background: $white;
		}
	}

	@media screen and (max-width: 560px){
		header{ flex-wrap: wrap; }
	}
}
/////////////////////////////////////////////////////
/* Joke Cards */
.joke-card-container{
	@include flex_disp ;
	flex-wrap: wrap;
	margin: 1em;

	.joke-card{
		position: relative;
		padding: 24px 24px 12px 24px;
		margin: .5em;
		background: $white;
		border: 6px solid lighten($not-black, 40%);
		flex-basis: 30%;
		flex-grow: 0;
		text-transform: uppercase;
		@include transition(.25s, linear);
		&:hover{
			border-color: $not-black;
		}
	}

	.joke-card-placeholder{
		background: transparentize( lighten($not-black, 50%), .5);
		width: 25%;
		height: 250px;
		margin: 0 auto;
	}

	button.deleter{
		border: 6px solid $light-pink;
		background: transparent;
		border-radius: 100%;
		position: absolute;
		z-index: 1;
		top: -5px;
		right: -5px;
		height: 40px;
		width: 40px;
	}
	.sorter{
		border: 0;
		background: transparent;
		padding: 1.2em .5em .5em .5em;
		@include transition(.2s, linear);
		&:hover{
			transform: scale(1.1);
		}
		&:before{
			content: '';
			display: block;
			border-top: 6px solid $light-pink;
		}
	}

	@media screen and (max-width: 800px){
		.joke-card{ flex-basis: 45%; }
		.joke-card-placeholder{ width: 35%; }
	}
	@media screen and (max-width: 450px){
		.joke-card{ flex-basis: 100%; }
		.joke-card-placeholder{ width: 90%; }
	}
}
/////////////////////////////////////////////////////
/* Star Ratings */

%star-filled{
	background: url('https://cloud.githubusercontent.com/assets/3089882/5245627/4e72507c-7945-11e4-8c0f-94b4c6b6dfb5.png') no-repeat;
}

%star-empty{
	background: url('https://cloud.githubusercontent.com/assets/3089882/5245631/5d2c0414-7945-11e4-830c-e063a251603a.png') no-repeat;
}

%hidden-text{
	font: "0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

%hidden-element{
	position: absolute;
	bottom: 999999em;
	left: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@for $group from 1 through 5{
	@for $item from 1 through $group{
		.radio-#{$group}:checked ~ label.star-item-#{$item},
		.radio-#{$group}:focus ~ label.star-item-#{$item}
		{
			@extend %star-filled;
		}
	}
}

.star-rating-wrapper{
	margin: .5em;
	pointer-events: none;

	.radio{
		@extend %hidden-element;
	}

	label.star-item{
		cursor: pointer;
		pointer-events: initial;
		display: inline-flex;
		width: 20px;
		height: 20px;
		@extend %star-empty;
		@extend %hidden-text;

		&:hover ~ label.star-item{
			@extend %star-empty;
		}
	}

	&:hover label.star-item{
		@extend %star-filled;
	}
}